<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.great.happyness.wise"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
    	android:name=".GApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="com.great.happyness.wise.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".CameraUpperActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CameraNativeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EncodeUpperActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EncodeNativeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DecodeUpperActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DecodeNativeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NativeMediaRecorderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NdkMcActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NdkEncodecActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NdkDecodecActivity" android:screenOrientation="portrait"/>
    </application>

    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>
